:root {
  --panel-bg-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --panel-bg-color: #42414d;
  }
}

html {
  min-block-size: 200px;
  min-inline-size: 200px;
}

body {
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--panel-bg-color);
}
