/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. 
*/

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Inter Regular"),
    url("./../assets/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter Semi Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Inter Semi Bold"),
    url("./../assets/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Inter Bold"),
    url("./../assets/fonts/Inter-Bold.woff") format("woff");
}

/** STATIC COLORS */
:root {
  --color-warning: #ffa436;
  --color-fatal-error: #ff6a75;
  --green50: hsl(162, 73%, 56%);

  --blue50: #0060df;
  --blue60: #0250bb;
  --blue70: #054096;
  --blue90: #09204d;
  --cyan-50: #00ddff;
  --main-card-background: #321c64;
  --main-card-text-color: #ffffff;
  --settings-secondary-text-color: #5b5b66;
}
/* Globals */
:root {
  --window-width: 352px;
  --window-max-height: 536px;
  --nav-height: 48px;
  --font-family: "Inter Regular";
  --font-family-semi-bold: "Inter Semi Bold";
  --font-family-bold: "Inter Bold";
  --padding-default: 16px;
  --button-border-radius: 5px;

  --box-shadow-on: rgba(0, 0, 0, 0.28) 2px 2px 4px;
  --box-shadow-off: rgba(0, 0, 0, 0.06) 2px 2px 7px;
  --button-transition: background-color 0.2s ease;
  --color-disabled: var(--grey30);
  --color-disabled-hover: var(--grey40);
  --color-disabled-active: var(--grey50);
  --main-card--pill-background: lch(
    from var(--main-card-background) calc(l + 15) c h
  );
  --settings-link-color: var(--action-button-color);

  /**
        Note this color is not from our figma but the 
        firefox "light" theme, otherwise it looks wierd
        **/
  --panel-bg-color: var(--firefox-popup);
}

@media (prefers-color-scheme: dark) {
  :root {
    --grey5: lch(from var(--panel-bg-color) calc(l + 5) c h);
    --grey10: lch(from var(--panel-bg-color) calc(l + 10) c h);
    --grey20: lch(from var(--panel-bg-color) calc(l + 20) c h);
    --grey30: lch(from var(--panel-bg-color) calc(l + 30) c h);
    --grey40: lch(from var(--panel-bg-color) calc(l + 40) c h);
    --grey50: lch(from var(--panel-bg-color) calc(l + 50) c h);
    --grey60: lch(from var(--panel-bg-color) calc(l + 60) c h);
    --grey80: lch(from var(--panel-bg-color) calc(l + 80) c h);

    --border-color: lch(from var(--panel-bg-color) calc(l + 15) c h);
    --text-secondary-color: rbga(255, 255, 255, 0.6);
    --text-color-primary: #ffffff;
    --text-color-headline: #ffffff;
    --text-color-invert: var(--grey50);
    --text-secondary-color: var(#ffffff);
    --button-ghost-bg-color: #ffffff;
    --secondary-btn-color: #ffffff;
    --settings-secondary-text-color: rgba(255, 255, 255, 0.8);

    --action-button-color: var(--cyan-50);
    --color-enabled: var(--cyan-50);
    --in-copy-link-text-color: var(--cyan-50);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --grey5: lch(from var(--panel-bg-color) calc(l - 5) c h);
    --grey10: lch(from var(--panel-bg-color) calc(l - 10) c h);
    --grey20: lch(from var(--panel-bg-color) calc(l - 20) c h);
    --grey30: lch(from var(--panel-bg-color) calc(l - 30) c h);
    --grey40: lch(from var(--panel-bg-color) calc(l - 40) c h);
    --grey50: lch(from var(--panel-bg-color) calc(l - 50) c h);
    --grey60: lch(from var(--panel-bg-color) calc(l - 60) c h);
    --grey80: lch(from var(--panel-bg-color) calc(l - 80) c h);

    --in-copy-link-text-color: var(--blue50);
    --color-enabled: var(--green50);
    --action-button-color: var(--blue50);
    --text-color-primary: var(--grey50);
    --text-color-headline: var(--grey60);
    --text-color-invert: #ffffff;
    --border-color: lch(from var(--panel-bg-color) calc(l - 15) c h / 0.3);
    --button-ghost-bg-color: var(--grey50);
    --input-border: #8f8f9d;
    --secondary-btn-color: var(--action-button-color);
    --text-secondary-color: var(--grey40);
  }
}
