/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. 
*/

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Inter Regular"),
    url("./../assets/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter Semi Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Inter Semi Bold"),
    url("./../assets/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Inter Bold"),
    url("./../assets/fonts/Inter-Bold.woff") format("woff");
}

:root {
  --window-width: 352px;
  --window-height: 448px;
  --font-family: "Inter Regular";
  --font-family-semi-bold: "Inter Semi Bold";
  --font-family-bold: "Inter Bold";
  --color-enabled: #3fe1b0;
  --main-card-background: #321c64;
  --main-card-text-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --panel-bg-color: #2b2a33;
    --border-color: lch(from var(--panel-bg-color) calc(l + 15) c h);

    --text-color-primary: white;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /**
        Note this color is not from our figma but the 
        firefox "light" theme, otherwise it looks wierd
        **/
    --panel-bg-color: #f9f9fb;
    --text-color-primary: #3d3d3d;
    --border-color: lch(from var(--panel-bg-color) calc(l - 15) c h);
  }
}
