/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. 
*/

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Inter Regular"),
    url("./../assets/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter Semi Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Inter Semi Bold"),
    url("./../assets/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Inter Bold"),
    url("./../assets/fonts/Inter-Bold.woff") format("woff");
}

:root {
  --window-width: 352px;
  --window-height: 408px;

  --font-family: "Inter Regular";
  --font-family-semi-bold: "Inter Semi Bold";
  --font-family-bold: "Inter Bold";
  --color-enabled: #3fe1b0;
  --main-card-background: #321c64;
  --main-card-text-color: white;
  --main-card--pill-background: lch(
    from var(--main-card-background) calc(l + 15) c h
  );

  --action-button-color: #0060df;

  --padding-default: 16px;
  --button-transition: background-color 0.2s ease;
  --button-border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --panel-bg-color: #2b2a33;
    --border-color: lch(from var(--panel-bg-color) calc(l + 15) c h);

    --text-color-primary: white;

    --button-ghost-bg-default: rgba(255, 255, 255, 0);
    --button-ghost-bg-hovered: rgba(255, 255, 255, 0.1);
    --button-ghost-bg-pressed: rgba(255, 255, 255, 0.15);
    --button-ghost-outline: rgba(255, 255, 255, 0.5);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /**
        Note this color is not from our figma but the 
        firefox "light" theme, otherwise it looks wierd
        **/
    --panel-bg-color: #f9f9fb;
    --text-color-primary: #3d3d3d;
    --border-color: lch(from var(--panel-bg-color) calc(l - 15) c h);

    --button-ghost-bg-default: rgba(230, 230, 230, 0);
    --button-ghost-bg-hovered: rgba(230, 230, 230, 1);
    --button-ghost-bg-pressed: rgba(194, 194, 194, 1);
    --button-ghost-outline: rgba(230, 230, 230, 0.5);
  }
}
