/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. 
*/

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Inter Regular"),
    url("./../assets/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter Semi Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Inter Semi Bold"),
    url("./../assets/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Inter Bold"),
    url("./../assets/fonts/Inter-Bold.woff") format("woff");
}

:root {
  --window-width: 352px;
  --window-max-height: 482px;
  --nav-height: 48px;
  --font-family: "Inter Regular";
  --font-family-semi-bold: "Inter Semi Bold";
  --font-family-bold: "Inter Bold";
  --color-enabled: var(--green50);
  --color-enabled-hover: var(--green60);
  --color-enabled-active: var(--green70);
  --color-disabled: var(--grey30);
  --color-disabled-hover: var(--grey40);
  --color-disabled-active: var(--grey50);
  --color-warning: #ffa436;
  --color-fatal-error: #ff6a75;
  --color-divider: #e7e7e7;
  --green50: #3fe1b0;
  --green60: #3ad4b3;
  --green70: #1cc4a0;
  --grey30: #9e9e9e;
  --grey40: #6d6d6e;
  --grey50: #3d3d3d;
  --grey60: #0c0c0d;
  --main-card-background: #321c64;
  --main-card-text-color: #ffffff;
  --main-card--pill-background: lch(
    from var(--main-card-background) calc(l + 15) c h
  );

  --action-button-color: #0060df;

  --padding-default: 16px;
  --button-transition: background-color 0.2s ease;
  --button-border-radius: 5px;
  --box-shadow-on: rgba(0, 0, 0, 0.28) 2px 2px 4px;
  --box-shadow-off: rgba(0, 0, 0, 0.06) 2px 2px 7px;
  --divider-color: var(--color-divider);
  --text-secondary-color: var(--grey40);
}

@media (prefers-color-scheme: dark) {
  :root {
    --panel-bg-color: #1e1e1e;
    --border-color: lch(from var(--panel-bg-color) calc(l + 15) c h);
    --text-secondary-color: rbga(255, 255, 255, 0.6);
    --text-color-primary: #ffffff;
    --text-color-headline: #ffffff;
    --text-color-invert: var(--grey50);
    --button-ghost-bg-color: #ffffff;
    --divider-color: lch(from var(--color-divider) l c h / 0.2);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /**
        Note this color is not from our figma but the 
        firefox "light" theme, otherwise it looks wierd
        **/
    --panel-bg-color: #f9f9fb;
    --text-color-primary: var(--grey50);
    --text-color-headline: var(--grey60);
    --text-color-invert: #ffffff;
    --border-color: lch(from var(--panel-bg-color) calc(l - 15) c h / 0.3);
    --button-ghost-bg-color: var(--grey50);
    --input-border: #8f8f9d;
  }
}
