/* This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. 
*/

@media (prefers-color-scheme: dark) {
  :root {
    --button-secondary-bg-default: rgba(251, 251, 254, 0.07);
    --button-secondary-bg-hover: rgba(251, 251, 254, 0.14);
    --button-secondary-bg-active: rgba(251, 251, 254, 0.21);
    --button-secondary-bg-disabled: rgba(251, 251, 254, 0.07);
    --button-secondary-text-color: rgba(255, 255, 255, 1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --button-secondary-bg-default: rgba(21, 20, 26, 0.07);
    --button-secondary-bg-hover: rgba(21, 20, 26, 0.14);
    --button-secondary-bg-active: rgba(21, 20, 26, 0.21);
    --button-secondary-bg-disabled: rgba(21, 20, 26, 0.21);
    --button-secondary-text-color: rgba(21, 20, 26, 1);
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  min-inline-size: 192px;
  display: flex;
  flex-direction: column;
  color: #0c0c0d;
  font-family: var(--font-family);
  background-color: #e2e1e3;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--panel-bg-color);
    color: rgba(255, 255, 255, 0.9);
  }
}
